{{ if .Site.Params.homepage.showRecent | default false }}
  <h2 class="mt-8 text-2xl font-extrabold">{{ i18n "shortcode.recent_articles" | emojify }}</h2>
  {{ $postsSection := .Site.GetPage "section" "posts" }}
  {{ $recentLimit := .Site.Params.homepage.recentLimit | default 5 }}
  {{ with $postsSection }}
    {{ range first $recentLimit .RegularPagesRecursive.ByDate.Reverse }}
      {{ partial "article-link.html" . }}
    {{ end }}
  {{ end }}
  <div class="mt-8">
    <a href="/posts/" class="font-semibold text-primary-600 dark:text-primary-400 hover:underline">{{ i18n "article.more_posts" | default "All posts" }} &rarr;</a>
  </div>
{{ end }}
